# Node/Provider to use for deployment or forking
NODE_URL=""

# A block to fork from
BLOCK_NUMBER=""

# The deployer mnemonic phrase
MNEMONIC=""

# The address of the deployer account
# If empty, will use `accounts[0]` from `MNEMONIC`
DEPLOYER=""

# The address of the treasury contract (will receive exit penalty collected)
# If empty, will use deployer
TREASURY=""

# Set true to run the 'hardhat-contract-sizer' plugin on compile
RUN_CONTRACT_SIZER=""

# Set true to show gas report after the test round
REPORT_GAS=""

# Etherscan-like explorer api key for code verification
ETHERSCAN_API_KEY=""
